extends layout
block content
  div.margin30
    h1.center= title
    br
    div.center
      input(class='input' type='search' name='input' placeholder='输入地址' autocomplete='off' value='')
      button(class='submit' onclick='onClick()') 开始下载
      script
        |function onClick(){
        | var _v=$('.input').val()
        | if(_v){
        |   $.post("/download",{
        |            url:_v
        |        },
        |        function(data,status){
        |            if(status == 'success'){
        |               if(data.code == 1){
        |                 $('.margin30').append("<div class='downloading center'>"+
        |                   "<div class='filename nowrap-item'>"+data.msg+"</div>"+
        |                   "<progress class='progress nowrap-item' value='10' max='100'></progress>"+
        |                   "<div class='progress-text nowrap-item'>10%</div>"+
        |                 "</div>");
        |               }else{alert(data.msg)}
        |            }else{alert(status)}
        |        });
        | }else{alert('先输入下载地址!')}
        |}
    br