extends layout
block content
  div.margin30
    h1.center= title
    br
    div.center
      input(class='input' type='search' name='input' placeholder='输入地址' value='')
      button(class='submit' onclick='onClick()') 开始下载
      script
        |function onClick(){
        | var _v=$('.input').val()
        | if(_v){
        |   $.post("/download",{
        |            url:_v
        |        },
        |        function(data,status){
        |            if(status == 'success'){
        |               if(data.code == 1){
        |                 $('.downloading').show();$('.filename').html(data.msg);
        |                 $('.progress').val('10');$('.progress-text').html('10%')
        |               }else{alert(data.msg)}
        |            }else{alert(status)}
        |        });
        | }else{alert('先输入下载地址!')}
        |}
    br
    div.downloading.nowrap.margin30.center
      div.filename.nowrap-item
      progress.progress.nowrap-item(value='0' max='100')
      div.progress-text.nowrap-item