extends layout
block content
  div.margin30
    h1.center= title
    br
    div.center
      input(class='input' type='search' name='input' placeholder='输入地址' autocomplete='off' value='')
      button(class='submit' onclick='onClick()') 开始下载
      script
        |function refreshProgress(data, p){
        | if(p<100){
        |   $.post("/progress",{name:data.msg},function(data2,status){
        |     p=data2.progress
        |     $(".progress."+data.id).val(p);$(".progress-text."+data.id).html(p+'%');
        |     setTimeout(function(){refreshProgress(data, p)}, 200)
        |   })
        | }
        |}
        |function onClick(){
        | var _v=$('.input').val()
        | if(_v){
        |   $.post("/download",{
        |            url:_v
        |        },
        |        function(data,status){
        |            if(status == 'success'){
        |               if(data.code == 1){
        |                 $('.margin30').append("<div class='downloading'>"+
        |                   "<div class='filename nowrap'>"+data.msg+"</div>"+
        |                   "<progress class='progress "+data.id+" nowrap' value='0' max='100'></progress>"+
        |                   "<div class='progress-text "+data.id+" nowrap'>0%</div>"+
        |                 "</div>");
        |                 refreshProgress(data, 0)
        |               }else{alert(data.msg)}
        |            }else{alert(status)}
        |        });
        | }else{alert('先输入下载地址!')}
        |}
    br