doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1, user-scalable=0' name='viewport')
    meta(http-equiv='Content-Language' content='zh-CN')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
  body
    block content
